# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.env*
*.env
.aws/*
.aws
.venv
env/
venv/
staticfiles/*
backend/zenexotics_backend/staticfiles/*
backend/zenexotics_backend/staticfiles/
venv/*
ENV/
env.bak/
venv.bak/
backend/zenexotics_backend/.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# dependencies
node_modules/

# Randon files
stuffleft to do.txt

# Expo
.expo/
web/
.expo/*
web-build/
web-build/*
dist/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Virtual Environment
venv/
ENV/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local
