option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: zenexotics_backend.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: zenexotics_backend.settings
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:environment:process:default:
    PORT: '8000'
    HealthCheckPath: /health/
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:command:
    Timeout: 1800

files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
      proxy_connect_timeout 300;
      proxy_read_timeout 300;

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_static_files_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      chmod -R 755 /var/app/current/static/
      exit 0

  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log
      /var/log/app-logs/wsgi.log

packages:
  yum:
    git: []
    gcc: []
    python3-devel: [] 