option_settings:
  aws:elasticbeanstalk:application:environment:
    DEBUG: "False"
    DJANGO_ENVIRONMENT: "staging"
    ALLOWED_HOSTS: "*.elasticbeanstalk.com,staging.crittrcove.com,localhost"
    DJANGO_SECRET_KEY: "(hrnfet78u$wq*6m4n-p*dlo5ea=ufj(=7!azohx$vpj@eu94f"
    DATABASE_URL: "postgres://postgres:vekkof-huhqa5-nybDev@crittrcove-staging-db.cvwc0i6smlos.us-east-2.rds.amazonaws.com:5432/crittrcove_staging"
    AWS_STORAGE_BUCKET_NAME: "staging-crittrcove-media"
    AWS_REGION: "us-east-2"
    AWS_ACCESS_KEY_ID: 'AKIA2FXAD5PCBQGWN65A'
    AWS_SECRET_ACCESS_KEY: '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'
    REDIS_URL: 'redis://redis-15997.crce197.us-east-2-1.ec2.redns.redis-cloud.com:15997/0'
    EMAIL_HOST: 'smtp.zoho.com'
    EMAIL_PORT: '587'
    EMAIL_USE_TLS: 'True'
    EMAIL_USE_SSL: 'False'
    EMAIL_HOST_USER: 'no-reply@crittrcove.com'
    EMAIL_HOST_PASSWORD: 'Fed5k5W2Ay3E'
    SECRET_KEY: 'temp-deployment-key'
    DJANGO_SETTINGS_MODULE: 'zenexotics_backend.settings'
    DEBUG_COLLECTSTATIC: 'true'
    # Add placeholders for other environment variables as needed 