container_commands:
  01_install_dependencies:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --no-cache-dir --upgrade -r requirements-eb.txt"
  02_install_dotenv:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --no-cache-dir python-dotenv==1.0.0"
  03_print_dependencies:
    command: "/var/app/venv/staging-LQM1lest/bin/pip freeze"
  04_migrations:
    command: "cd /var/app/staging && python manage.py migrate --noinput --fake-initial || (echo 'Migration failed - see above errors for details' && exit 0)"
    leader_only: true
  05_collectstatic:
    command: "cd /var/app/staging && python manage.py collectstatic --noinput"
    leader_only: true 